.title {
  padding-top: 100px;
  padding-bottom: 60px;
}
.about {
  /* background-color: rgba(213, 255, 12, 0.1); */
}
#h_line {
  height: 1px;
  margin-left: 35%;
  margin-right: 35%;
  opacity: 40%;
}
