/* Default CSS for Navigation */
.Default {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-self: space-between;
  background-image: url("../images/Web\ 1920\ –\ 1@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#text1 {
  padding-top: 200px;
}
.text {
  text-align: right;
  padding-right: 430px;
}
#text3 {
  padding-bottom: 310px;
}

#text1_tablet {
  padding-top: 200px;
  padding-left: 500px;
}

.text_tablet {
  text-align: right;
}

/* CSS FOR THE CURSOR */

.blinking-cursor {
  font-weight: 100;
  font-size: 60px;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: rgb(255, 255, 255);
  }
}
