.navbar_title {
  text-align: center;
  flex-grow: 1;
  padding-right: 190px;
}

.nav_p {
  text-align: left;
  padding: 10px;
}

#icons {
  align-items: right;
  color: white;
  flex: 1;
  padding: 0.5em;
  font-size: 30px;
}
