#paper3 {
  width: 100%;
  align-content: center;
  opacity: 90%;
}
.card {
  max-width: 380px;
  margin: auto;
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: none;
}

.image {
  min-height: 140px;
  margin: auto;
}

#but {
  margin-top: 10px;
}
#body1 {
  margin: 5px;
}
.title3 {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
}
