#paper1 {
  width: 100%;
  align-content: center;
  opacity: 90%;
}
.card {
  max-width: 380px;
  margin: auto;
}

.image {
  min-height: 140px;
  margin: auto;
}

#but {
  margin-top: 10px;
}
#body1 {
  margin: 5px;
}
